---
import MainShell from "../layouts/MainShell.astro";
---

<style>
	main {
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
	}
	h1 {
		width: 100%;
		text-align: center;
		display: flex; /* create flex container */
		justify-content: center; /* center horizontally */
		align-items: center; /* center vertically */
		flex: 1 0 30%;
		vertical-align: middle;
	}
</style>
<MainShell title="Khaled Ezzughayyar">
	<main>
		<h1>Khaled Ezzughayyar</h1>
	</main>
</MainShell>
